<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BaseDeDatos" connectionString="youtDataConnection" providerName="System.Data.SqlClient"  />
  </connectionStrings>
  <appSettings>
    <add key="ruta" value="c:\yourPath"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
